:root {
  --error-page-background: #080808;
}


/* This replaces your #root styling */
.pageWrapper {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  background-color: var(--error-page-background);
  position: fixed; /* Ensures it covers the whole screen */
  top: 0;
  left: 0;
}

.container {
  margin-top: 10rem;
}
.errorBox {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.errorSubText {
  opacity: 0.8;
}

.backBtn {
  background-color: #fff;
  font-weight: 400;
  font-family: sans-serif;
  margin-top: 1rem;
  width: 20rem;
  vertical-align: middle;
  padding: 1rem 1rem;
  border: 1px solid #333;
  border-radius: 8px;
  font-size: 1.1rem;
  transition: all 0.2s ease;
}

.backBtn:hover {
  background-color: #e5e5e5;
}
