.cursorLight {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  pointer-events: none;
  background: radial-gradient(
      circle at 50% 50%,
      rgba(255, 255, 255, 0.8) 0%,
      /* Brightest center */ rgba(255, 255, 255, 0.2) 15%,
      /* Outer beam glow */ rgba(0, 0, 0, 0.096) 40% /* Total darkness */
    ),
    #45454538;
  transform: translate(-50%, -50%);
  transition: top left 0.08s linear;
}
